[Unit]
Description=Starts SamplerBox
After=usb-mount@.service
Wants=volume-control.service display-server.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /root/SamplerBox/samplerbox.py --boot
WorkingDirectory=/root/SamplerBox/

[Install]
RequiredBy=basic.target