[Unit]
Description=Starts SamplerBox

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /root/SamplerBox/samplerbox.py
WorkingDirectory=/root/SamplerBox/

[Install]
RequiredBy=basic.target