
[Unit]
Description=+/-/MUTE volume control for devices with HID volume buttons (ex. PCM2704)

[Service]
WorkingDirectory=/root/SamplerBox/
ExecStart=/usr/local/bin/inputexec --action-commands=/root/SamplerBox/volume-actions.ini --source-file=/dev/input/event0 --action-mode=run_sync --logging-target=syslog --logging-level=info
Restart=always
StartLimitIntervalSec=5
StartLimitBurst=5

[Install]
RequiredBy=basic.targetroot

