[Unit]
Description=+/-/MUTE volume control for devices with HID volume buttons (ex. PCM2704)
After=triggerhappy.service
Wants=display-server.service
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
WorkingDirectory=/root/SamplerBox/
ExecStart=/usr/bin/python3 -u /root/SamplerBox/volume_control.py
Restart=always

[Install]
RequiredBy=basic.target